html{
height:100%;
}
body{
margin: 0;
padding: 0;
height:100%;
}
body > .box {
height: auto;
}
.box{
background: url('/video/img_l/bg.jpg');
height:100%;
min-height:100%;
}

/* body > .map_box {
height: auto;
}
.map_box{
background: url('/video/img_s/top_background_g.jpg');
height:100%;
min-height:100%;
} */

.nav_text {
  color: white !important;
  font-size: 15px;
}

.profile-wrap {
  margin: 40px 0px;
}
.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.setting {
  background-image: url("/images/parts4.png");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 18px 0 0 10px;
  background-size: 22px !important;
  border: none;
}
.setting:hover {
  cursor: pointer;
}
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
button {
  text-align: center;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.content {
  text-align: center;
}
.title {
  font-size: 84px;
}
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.m-b-md {
  margin-bottom: 30px;
}


.button_form_center {
  text-align: center;
}

.row-eq-height {
			display: flex;
			flex-wrap: wrap;
      min-height: 150px;
		}

/* quiz_panel */
.dark-overlay {

  background: rgba(0, 0, 0, 0.7);
}
.panel{
  height: 100px;
  width: 150px;
}
.panel-middle{
  height: 100px;
  width: 150px;
}
.panel-end{
  height: 100px;
  width: 150px;
}
